<div class="uk-height-large uk-background-cover uk-background-secondary uk-light uk-flex" style="min-height:100vh" id="top">
    <div class="uk-position-top-right uk-margin-top uk-margin-right">
        <a target="_blank" href="//github.com/josephtowers/randomizer">
            <i class="fa fa-github" aria-hidden="true" style="font-size:24px"></i>
        </a> 
    </div>
    <h1 class="uk-text-center uk-margin-auto uk-margin-auto-vertical" style="font-size:80px" uk-scrollspy="cls: uk-animation-scale-down; repeat: true">
        <img src="../assets/Randomizer.png" style="width:40%">
        <br>
        <a class="uk-button uk-button-default" href="#addmem" uk-scroll>Comenzar</a>            
    </h1>
</div>