<div id="addmem" class=" uk-child-width-expand@s uk-text-center uk-padding" uk-grid style="height:100vh;background-image:url('assets/random_detail.jpg');background-attachment:fixed">
   <div>
        <div class="uk-background-muted uk-padding ">
            <h2>Miembros del grupo</h2>
            <p>Escribe los nombres de los integrantes del grupo (uno por línea). Se reordenarán todos los nombres de forma aleatoria:</p>
            <textarea class="uk-textarea members" rows="10" style="resize:none;margin-bottom:20px"></textarea> 
            <button class="uk-button uk-button-default" (click)="erase()">Borrar</button>
        </div>
    </div>
    <div>
        <div class="uk-background-secondary uk-padding seats uk-light" >
            <h2>Posiciones</h2>       
            <ul class="uk-list uk-list-striped miembros" style="max-height:315px;overflow-y:auto">
            </ul>
            <button class="uk-button uk-button-default randomize" (click)="getRandom()">Random!</button>
            <a class="uk-button uk-button-default randomize" href="#addguest" uk-scroll (click)="endme()">Siguiente</a>
        </div>
    </div>
</div>
